/*!
 * Copyright Jul-2019
 *
 */

#page-top{
  background-color: #490275;
}
 .masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-image: url("../img/food.jpg");
  }
  @font-face {
      font-family: CalebiaFont;
      src: url("next_art/NEXT ART_Light.otf") format("otf");
  }

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
}

#button_ScheduleEvent{
  font-size: 4vw
}
#button_Login{
  font-size: 4vw
}

#button_Photographer{
  font-size: 4vw
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}