
#page-top{
    background-color: #490275;
  }

#Home{
    color: white;
}

#TitleSEpage{
    color: white;
}

/* #ServiceType{
    color: white;
} */
h5 {
    color: white !important;
}

#productTable {
    color: white;
}
h4 {
  color: black !important;
}

#AboutService{
  color: black !important;
}
